Repository huaweicloud/terraform-provider-hcso, pull requests merged in 2023-11, with the labels that each got.

#1 feat(vpc): add vpc resource and datasource support
  .golangci.yml
  README.md
  docs/data-sources/vpc.md
  docs/index.md
  docs/resources/vpc.md
  examples/vpc/basic/README.md
  examples/vpc/basic/main.tf
  examples/vpc/basic/variables.tf
  examples/vpc/secgroup/README.md
  examples/vpc/secgroup/main.tf
  examples/vpc/vip/README.md
  examples/vpc/vip/main.tf
  examples/vpc/vip/variables.tf
  internal/services/vpc/data_source_huaweicloud_vpc.go
  internal/services/vpc/resource_huaweicloud_vpc.go
Labels: feature, size/L, LGTM

#2 feat(ecs): add data-sources availability zones and compute flavors.
  docs/data-sources/availability_zones.md
  docs/data-sources/compute_flavors.md
  internal/data_source_huaweicloud_availability_zones_test.go
  internal/provider.go
  internal/services/acceptance/ecs/data_source_huaweicloud_compute_servergroups_test.go
Labels: feature, size/M

#3 feat(vpc): delete vpc resource and datasource support.
  internal/provider.go
  internal/services/vpc/data_source_huaweicloud_vpc.go
  internal/services/vpc/resource_huaweicloud_vpc.go
Labels: feature, size/L, LGTM

#4 feat(evs): add evs volume resource
  docs/resources/evs_volume.md
  docs/resources/vpc.md
  internal/provider.go
  internal/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
Labels: feature, size/M

#6 feat(vpc): add vpc subnet resource and datasource support.
  .github/workflows/ci.yml
  .markdownlint.json
  docs/data-sources/vpc_subnet_ids.md
  docs/data-sources/vpc_subnets.md
  docs/resources/vpc_subnet.md
  internal/provider.go
Labels: feature, size/L

#7 feat(ims): add ims data-sources and resources support.
  docs/data-sources/availability_zones.md
  docs/data-sources/images_image.md
  docs/data-sources/images_images.md
  docs/resources/images_image.md
  docs/resources/images_image_copy.md
  docs/resources/images_image_share.md
  docs/resources/images_image_share_accepter.md
  internal/provider.go
  internal/provider_test.go
  internal/services/acceptance/ims/resource_huaweicloud_images_image_copy_test.go
Labels: feature, size/L

#8 feat(vpc): add vpc secgroup resource and datasource support.
  docs/data-sources/networking_port.md
  docs/data-sources/networking_secgroups.md
  docs/data-sources/vpc_peering_connection.md
  docs/data-sources/vpcs.md
  docs/resources/networking_secgroup.md
  docs/resources/networking_secgroup_rule.md
  docs/resources/networking_vip.md
  docs/resources/vpc_address_group.md
  docs/resources/vpc_peering_connection.md
  docs/resources/vpc_peering_connection_accepter.md
  internal/provider.go
Labels: feature, size/L

#9 feat(vpc): add dns nat elb resource and datasource support.
  docs/data-sources/dns_zones.md
  docs/data-sources/lb_listeners.md
  docs/data-sources/lb_loadbalancer.md
  docs/resources/lb_l7policy.md
  docs/resources/lb_l7rule.md
  docs/resources/lb_listener.md
  docs/resources/lb_loadbalancer.md
  docs/resources/lb_member.md
  docs/resources/lb_monitor.md
  docs/resources/lb_pool.md
  docs/resources/lb_whitelist.md
  docs/resources/nat_private_gateway.md
  docs/resources/nat_private_snat_rule.md
  docs/resources/nat_private_transit_ip.md
  internal/provider.go
  internal/provider_test.go
Labels: size/XL, feature

#5 feat(ecs): add ecs resource compute keypair
  docs/resources/compute_keypair.md
  internal/provider.go
  internal/resource_huaweicloud_compute_keypair_test.go
Labels: feature, size/M

#11 feat(cce): add cce resource and datasource support.
  docs/data-sources/cce_addon_template.md
  docs/data-sources/cce_cluster.md
  docs/data-sources/cce_clusters.md
  docs/data-sources/cce_node.md
  docs/data-sources/cce_node_pool.md
  docs/data-sources/cce_nodes.md
  docs/resources/cce_addon.md
  docs/resources/cce_cluster.md
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  internal/provider.go
Labels: size/XL, feature

#10 feat(eip): add eip data-sources and resources support.
  .gitignore
  docs/data-sources/images_image.md
  docs/data-sources/images_images.md
  docs/data-sources/vpc_bandwidth.md
  docs/data-sources/vpc_eip.md
  docs/data-sources/vpc_eips.md
  docs/resources/compute_keypair.md
  docs/resources/vpc_bandwidth.md
  docs/resources/vpc_bandwidth_associate.md
  docs/resources/vpc_eip.md
  docs/resources/vpc_eip_associate.md
  go.mod
  go.sum
  internal/provider.go
  internal/services/acceptance/dli/resource_huaweicloud_dli_database_test.go
  internal/services/acceptance/dli/resource_huaweicloud_dli_permission_test.go
  internal/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  internal/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_test.go
  internal/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
Labels: size/XL, feature, dependencies
