Repository huaweicloud/terraform-provider-hcso, pull requests merged in 2024-01, with the labels that each got.

#27 docs(EIP): fix error example usages of service EIP
  docs/data-sources/vpc_eip.md
  docs/resources/vpc_eip.md
  internal/services/acceptance/eip/data_source_hcso_vpc_bandwidth_test.go
  internal/services/acceptance/eip/data_source_hcso_vpc_eip_test.go
  internal/services/acceptance/eip/data_source_hcso_vpc_eips_test.go
  internal/services/acceptance/eip/resource_hcso_eip_associate_test.go
  internal/services/acceptance/eip/resource_hcso_vpc_bandwidth_associate_test.go
  internal/services/acceptance/eip/resource_hcso_vpc_bandwidth_test.go
  internal/services/acceptance/eip/resource_hcso_vpc_eip_test.go
Labels: documentation, size/XS

#16 feat(SFS Turbo): add SFS Turbo data-sources and resources support.
  docs/data-sources/sfs_turbos.md
  docs/resources/sfs_turbo.md
  go.mod
  go.sum
  internal/provider.go
  internal/services/acceptance/sfs/data_source_hcso_sfs_turbos_test.go
  internal/services/acceptance/sfs/data_source_huaweicloud_sfs_file_system_test.go
  internal/services/acceptance/sfs/resource_hcso_sfs_turbo_test.go
  internal/services/acceptance/sfs/resource_huaweicloud_sfs_access_rule_test.go
  internal/services/acceptance/sfs/resource_huaweicloud_sfs_file_system_test.go
  internal/services/acceptance/sfs/resource_huaweicloud_sfs_turbo_test.go
Labels: size/XL, feature, LGTM, dependencies

#26 docs(ECS): fix error example usages of service ECS
  docs/data-sources/compute_flavors.md
  docs/resources/compute_instance.md
  docs/resources/compute_interface_attach.md
  docs/resources/compute_keypair.md
  docs/resources/compute_volume_attach.md
  examples/ecs/associated-eip/main.tf
  examples/ecs/attached-interface/main.tf
  examples/ecs/attached-volume/main.tf
  examples/ecs/basic/main.tf
  examples/ecs/provisioners/main.tf
  examples/ecs/userdata/main.tf
Labels: documentation, size/L, LGTM

#15 feat(cbr): add cbr data-sources and resources support.
  docs/data-sources/cbr_backup.md
  docs/data-sources/cbr_policies.md
  docs/data-sources/cbr_vaults.md
  docs/resources/cbr_backup_share.md
  docs/resources/cbr_checkpoint.md
  docs/resources/cbr_policy.md
  docs/resources/cbr_vault.md
  go.mod
  go.sum
  internal/provider.go
  internal/services/acceptance/acceptance.go
  internal/services/acceptance/cbr/data_source_hcso_cbr_backup_test.go
  internal/services/acceptance/cbr/data_source_hcso_cbr_policies_test.go
  internal/services/acceptance/cbr/data_source_hcso_cbr_vaults_test.go
  internal/services/acceptance/cbr/resource_hcso_cbr_backup_share_test.go
  internal/services/acceptance/cbr/resource_hcso_cbr_checkpoint_test.go
  internal/services/acceptance/cbr/resource_hcso_cbr_policy_test.go
  internal/services/acceptance/cbr/resource_hcso_cbr_vault_test.go
Labels: size/XL, feature, dependencies

#35 feat(elb): add elb resource and data-source support.
  docs/data-sources/elb_certificate.md
  docs/data-sources/elb_flavors.md
  docs/data-sources/elb_ipgroups.md
  docs/data-sources/elb_listeners.md
  docs/data-sources/elb_loadbalancers.md
  docs/data-sources/elb_logtanks.md
  docs/data-sources/elb_members.md
  docs/data-sources/elb_pools.md
  docs/resources/elb_certificate.md
  docs/resources/elb_ipgroup.md
  docs/resources/elb_l7policy.md
  docs/resources/elb_l7rule.md
  docs/resources/elb_listener.md
  docs/resources/elb_loadbalancer.md
  docs/resources/elb_logtank.md
  docs/resources/elb_member.md
  docs/resources/elb_monitor.md
  docs/resources/elb_pool.md
  docs/resources/elb_security_policy.md
  examples/elb/basic/README.md
  examples/elb/basic/main.tf
  examples/elb/basic/variables.tf
  go.mod
  go.sum
  internal/provider.go
  internal/services/acceptance/elb/data_source_hcso_elb_certificate_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_flavors_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_ipgroups_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_listeners_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_loadbalancers_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_logtanks_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_members_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_pools_test.go
  internal/services/acceptance/elb/resource_hcso_elb_certificate_test.go
  internal/services/acceptance/elb/resource_hcso_elb_ipgroup_test.go
  internal/services/acceptance/elb/resource_hcso_elb_l7policy_test.go
  internal/services/acceptance/elb/resource_hcso_elb_l7rule_test.go
  internal/services/acceptance/elb/resource_hcso_elb_listener_test.go
  internal/services/acceptance/elb/resource_hcso_elb_loadbalancer_test.go
  internal/services/acceptance/elb/resource_hcso_elb_logtank_test.go
  internal/services/acceptance/elb/resource_hcso_elb_member_test.go
  internal/services/acceptance/elb/resource_hcso_elb_monitor_test.go
  internal/services/acceptance/elb/resource_hcso_elb_pool_test.go
  internal/services/acceptance/elb/resource_hcso_elb_security_policy_test.go
Labels: size/XL, feature, dependencies

#39 Rrelease v0.1.0
  CHANGELOG.md
Labels: size/M
