Repository huaweicloud/terraform-provider-hcso, pull requests merged in 2024-04, with the labels that each got.

#40 feat(cce): update cce resource support.
  docs/resources/cce_cluster.md
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  internal/services/acceptance/cce/resource_huaweicloud_cce_cluster_test.go
  internal/services/acceptance/cce/resource_huaweicloud_cce_node_attach_test.go
  internal/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  internal/services/acceptance/cce/resource_huaweicloud_cce_node_test.go
Labels: feature, size/L

#22 feat(ANTIDDOS): add ANTIDDOS resource support
  docs/resources/antiddos_basic.md
  internal/provider.go
  internal/services/acceptance/antiddos/resource_hcso_antiddos_basic_test.go
Labels: feature, size/S

#30 docs(IMS): fix error example usages of service IMS
  docs/resources/images_image_share.md
  internal/services/acceptance/ims/data_source_hcso_images_image_test.go
  internal/services/acceptance/ims/data_source_hcso_images_images_test.go
  internal/services/acceptance/ims/resource_hcso_images_image_copy_test.go
  internal/services/acceptance/ims/resource_hcso_images_image_share_accepter_test.go
  internal/services/acceptance/ims/resource_hcso_images_image_share_test.go
  internal/services/acceptance/ims/resource_hcso_images_image_test.go
Labels: documentation, size/XS

#24 feat(MRS): add MRS data-sources and resources support
  docs/data-sources/mapreduce_clusters.md
  docs/resources/mapreduce_cluster.md
  docs/resources/mapreduce_job.md
  internal/provider.go
  internal/services/acceptance/mrs/data_source_hcso_mapreduce_clusters_test.go
  internal/services/acceptance/mrs/resource_hcso_mapreduce_cluster_test.go
  internal/services/acceptance/mrs/resource_hcso_mapreduce_job_test.go
  internal/services/acceptance/mrs/resource_huaweicloud_mapreduce_data_connection_test.go
Labels: size/XL, feature

#33 feat(dcs): add dcs data-source support.
  docs/data-sources/dcs_maintainwindow.md
  internal/provider.go
  internal/services/acceptance/dcs/data_source_hcso_dcs_maintainwindow_test.go
  internal/services/acceptance/dcs/data_source_huaweicloud_dcs_flavors_test.go
  internal/services/acceptance/dcs/data_source_huaweicloud_dcs_instances_test.go
  internal/services/acceptance/dcs/resource_huaweicloud_dcs_backup_test.go
  internal/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
Labels: size/XL, feature

#37 feat(elb): update elb data-source support.
  docs/resources/elb_loadbalancer.md
  internal/services/acceptance/elb/data_source_hcso_elb_ipgroups_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_listeners_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_loadbalancers_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_logtanks_test.go
  internal/services/acceptance/elb/data_source_hcso_elb_members_test.go
  internal/services/acceptance/elb/resource_hcso_elb_loadbalancer_test.go
Labels: feature, size/L

#38 feat(rds): update rds resource support.
  docs/resources/rds_instance.md
  internal/services/acceptance/rds/resource_hcso_rds_instance_test.go
Labels: feature, size/M

#21 feat(servicestage): add servicestage data-source and resources support.
  docs/data-sources/servicestage_component_runtimes.md
  internal/provider.go
  internal/services/acceptance/servicestage/data_source_hcso_servicestage_component_runtimes_test.go
  internal/services/acceptance/servicestage/resource_huaweicloud_servicestage_application_test.go
  internal/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_instance_test.go
  internal/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_test.go
  internal/services/acceptance/servicestage/resource_huaweicloud_servicestage_environment_test.go
  internal/services/acceptance/servicestage/resource_huaweicloud_servicestage_repo_password_authorization_test.go
  internal/services/acceptance/servicestage/resource_huaweicloud_servicestage_repo_token_authorization_test.go
Labels: size/XL, feature

#20 feat(swr): add swr resources support.
  docs/resources/swr_image_retention_policy.md
  docs/resources/swr_organization.md
  docs/resources/swr_repository.md
  internal/provider.go
  internal/services/acceptance/swr/resource_hcso_swr_image_retention_policy_test.go
  internal/services/acceptance/swr/resource_hcso_swr_organization_test.go
  internal/services/acceptance/swr/resource_hcso_swr_repository_test.go
Labels: feature, size/M

#25 feat(nat): add NAT resources support.
  docs/data-sources/nat_gateway.md
  docs/resources/nat_dnat_rule.md
  docs/resources/nat_gateway.md
  docs/resources/nat_private_dnat_rule.md
  docs/resources/nat_snat_rule.md
  internal/provider.go
  internal/services/acceptance/common/resources.go
  internal/services/acceptance/nat/data_source_hcso_nat_gateway_test.go
  internal/services/acceptance/nat/resource_hcso_nat_dnat_rule_test.go
  internal/services/acceptance/nat/resource_hcso_nat_gateway_test.go
  internal/services/acceptance/nat/resource_hcso_nat_private_dnat_rule_test.go
  internal/services/acceptance/nat/resource_hcso_nat_private_gateway_test.go
  internal/services/acceptance/nat/resource_hcso_nat_private_snat_rule_test.go
  internal/services/acceptance/nat/resource_hcso_nat_private_transit_ip_test.go
  internal/services/acceptance/nat/resource_hcso_nat_snat_rule_test.go
Labels: feature, size/L

#32 feat(dws): add DWS data-source and resources support.
  docs/data-sources/dws_flavors.md
  docs/resources/dws_alarm_subscription.md
  docs/resources/dws_event_subscription.md
  internal/provider.go
  internal/services/acceptance/dws/data_source_hcso_dws_flavors_test.go
  internal/services/acceptance/dws/resource_hcso_dws_alarm_subscription_test.go
  internal/services/acceptance/dws/resource_hcso_dws_event_subscription_test.go
Labels: feature, size/M

#31 feat(smn): add SMN data-source and resources support.
  docs/data-sources/smn_message_templates.md
  docs/data-sources/smn_topics.md
  docs/resources/smn_message_template.md
  docs/resources/smn_topic.md
  internal/provider.go
  internal/services/acceptance/smn/data_source_hcso_smn_message_templates_test.go
  internal/services/acceptance/smn/data_source_hcso_smn_topics_test.go
  internal/services/acceptance/smn/resource_hcso_smn_message_template_test.go
  internal/services/acceptance/smn/resource_hcso_smn_topic_test.go
Labels: feature, size/L

#41 feat(as): add as data-sources and resources support.
  docs/data-sources/as_configurations.md
  docs/data-sources/as_groups.md
  docs/resources/as_configuration.md
  docs/resources/as_group.md
  docs/resources/as_instance_attach.md
  docs/resources/as_lifecycle_hook.md
  docs/resources/as_notification.md
  internal/provider.go
  internal/services/acceptance/as/data_source_hcso_as_configurations_test.go
  internal/services/acceptance/as/data_source_hcso_as_groups_test.go
  internal/services/acceptance/as/resource_hcso_as_configuration_test.go
  internal/services/acceptance/as/resource_hcso_as_group_test.go
  internal/services/acceptance/as/resource_hcso_as_instance_acctah_test.go
  internal/services/acceptance/as/resource_hcso_as_lifecycle_hook_test.go
  internal/services/acceptance/as/resource_hcso_as_notification_test.go
Labels: size/XL, feature

#42 changelog: add change log for v0.2.0
  CHANGELOG.md
Labels: size/S
